@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <dl>
        <dt>accessToken</dt>
        <dd>@ViewBag.accessToken</dd>
        <dt>idToken</dt>
        <dd>@ViewBag.idToken</dd>
        <dt>refreshToken</dt>
        <dd>@ViewBag.refreshToken</dd>
    </dl>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
